<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cartodex Admin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar admin-navbar">
      <div class="navbar-inner">
        <%= link_to "Cartodex Admin", admin_root_path, class: "navbar-brand" %>
        <div class="navbar-links">
          <%= link_to "Dashboard", admin_root_path, class: "navbar-link #{'active' if controller_name == 'dashboard'}" %>
          <%= link_to "Card Sets", admin_card_sets_path, class: "navbar-link #{'active' if controller_name == 'card_sets'}" %>
          <%= link_to "Cards", admin_cards_path, class: "navbar-link #{'active' if controller_name == 'cards'}" %>
          <%= link_to "Users", admin_users_path, class: "navbar-link #{'active' if controller_name == 'users'}" %>
          <%= link_to "Decks", admin_decks_path, class: "navbar-link #{'active' if controller_name == 'decks'}" %>
        </div>
        <div class="navbar-right">
          <span class="navbar-user"><%= current_user.email %></span>
          <%= link_to "Back to app", dashboard_path, class: "navbar-link" %>
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-link" %>
        </div>
      </div>
    </nav>
    <%= turbo_stream_from current_user, :notifications %>
    <%= render Ui::FlashMessages.new %>
    <%= yield %>
  </body>
</html>
